###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

###############################################################################
# Set behavior to preserve unix style line endings for javascript files.
###############################################################################
*.js eol=lf
