###############################################################################
# Set behavior to preserve unix style line endings.
###############################################################################
core.autocrlf = input
