{
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.json", "*.jsonc", "*.json5"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
