language: node_js
os:
  - linux
  - osx
node_js:
  - node # latest node
  - 7.9.0 # vscode >= 1.16.0
  - 7.4.0 # vscode >= 1.12.0 < 1.16.0
  - 6.5.0 # vscode >= 1.8.0 < 1.12.0
matrix:
  allow_failures:
    - node_js: node
  fast_finish: true
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++-4.9-dev
cache: yarn
before_install:
  - curl -o- -L https://yarnpkg.com/install.sh | bash -s -- --version 1.3.2
  - export PATH=$HOME/.yarn/bin:$PATH
script: npm run build
after_success:
  - codecov
  - ./submodules/wpilgenerator/wpilgen.sh

# See this if we need to test the extension via vscode:
# https://code.visualstudio.com/Docs/extensions/testing-extensions#_running-tests-automatically-on-travis-ci-build-machines
