.github/**
.vscode/**
.vscode-test/**
.nyc_output/**
coverage/**
docker/**
examples/**
images/*.gif
images/*.svg
src/**
submodules/**
test/**
out/test/**
out/src/example/**
**/*.map
*.vsix
*.lcov
.appveyor.yml
.bithoundrc
.editorconfig
.gitignore
.gitmodules
.gitattributes
.travis.yml
crowdin.yml
package-lock.json
package.nls.template.json
tsconfig.json
tslint.json
npm-debug.*
wallaby.js
yarn.lock
