.github/**
.vscode/**
.vscode-test/**
test/**
src/**
**/*.map
out/test/**
out/src/example/**
typings/**
examples/**
images/*.psd
images/*.ai
images/screenshot_folders.png
Dockerfile
.gitignore
.gitattributes
.travis.yml
tsconfig.json
tslint.json
npm-debug.log
yarn.lock

