.github/**
.vscode/**
examples/**
images/*.psd
images/*.ai
images/screenshot_folders.png
Dockerfile
src/**
typings/**
.gitignore
code*.js
jsconfig.json
.eslintrc.json
npm-debug.log
.vscode/**
.vscode-test/**
test/**
vsc-extension-quickstart.md
.eslintrc.json
