name: Publish Extension

env:
  NODE_VERSION: 12.14.1

on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning repository
        uses: actions/checkout@v2

      - name: "Setting up Node.js ${{ env.NODE_VERSION }}"
        uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}

      - name: Installing dependencies
        run: npm ci

      - name: Publish to Visual Studio Marketplace
        run: npx vsce@2.9.2 publish -p ${{ secrets.VSCE_TOKEN }}
